<!DOCTYPE html>
<html lang="{{ locales[page.lang].locale or page.lang }}" dir="{{ locales[page.lang].dir or 'ltr' }}" x-data :data-theme="$store.elva.theme">
    <baseline-head></baseline-head>
    {%- set i = (thumbnail or _elva.meta.opengraphDefaultImage) | htmlBaseUrl(settings.url) %}
    {%- set ia = thumbnailDescription or ('meta.opengraphDefaultAlt' | t) %}
    {%- set ta = tags or [] %}

    <!-- charset / viewport -->

    <!-- title / description -->

    <!-- canonical / alternates -->

    <!-- open graph -->
    <meta property="og:logo" content="{{ "/assets/img/icon-192.png" | htmlBaseUrl(settings.url) | cdnify }}">
    <meta property="og:image" content="{{ i | cdnify }}">
    <meta property="og:image:alt" content="{{ ia }}">

    <!-- icons -->
    <link rel="apple-touch-icon" href="{{ "/assets/img/icon-180.png" | htmlBaseUrl(settings.url) | cdnify }}">

    <!-- styles -->

    <!-- feeds -->
    {%- for collectionName, config in types %}
    {%- if config.feed %}
    {%- set feedSlug = 'feed' if collectionName == 'posts' else collectionName %}
    <link rel="alternate" href="{{ ('/feed/' + feedSlug + '.xml') | locale_url | htmlBaseUrl(settings.url) }}" type="application/atom+xml" title="{{ config.label }} {{ _elva.meta.separator }} {{ 'meta.rssTitle' | t }} {{ _elva.meta.separator }} {{ 'meta.title' | t }}">
    <link rel="alternate" href="{{ ('/feed/' + feedSlug + '.json') | locale_url | htmlBaseUrl(settings.url) }}" type="application/json" title="{{ config.label }} {{ _elva.meta.separator }} {{ 'meta.jsonTitle' | t }} {{ _elva.meta.separator }} {{ 'meta.title' | t }}">
    {%- endif %}
    {%- endfor %}
    {% if blogroll | length %}<link rel="blogroll"  href="{{ "/feed/blogroll.xml" | locale_url | htmlBaseUrl(settings.url) }}" type="text/xml" title="{{ 'meta.blogrollTitle' | t }} {{ _elva.meta.separator }} {{ 'meta.title' | t }}">{% endif %}

    <!-- preload / prefetch -->
    {% if (_elva.isProduction or _elva.isStaging) and _elva.cdn %}<link rel="dns-prefetch" href="https://i0.wp.com/">{% endif %}

    <!-- everything else -->
    <link rel="manifest" href="{{ "/site.webmanifest" | locale_url | htmlBaseUrl(settings.url) }}">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ _elva.themeColorLight }}">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ _elva.themeColorDark }}">
    {% if _elva.isStaging or seo.noIndex %}<meta name="robots" content="noindex, nofollow">{% endif %}
    {% if _elva.author.githubProfile %}<link rel="me" href="{{ _elva.author.githubProfile }}">{% endif %}
    {% if _elva.author.fediverseProfile %}<link rel="me" href="{{ _elva.author.fediverseProfile }}">{% endif %}
    {% if _elva.author.fediverseUsername %}<meta name="fediverse:creator" content="{{ _elva.author.fediverseUsername }}">{% endif %}

    <!-- set theme before page renders to stop fouc -->

    <!-- inline scripts -->

    <body class="{% set space = joiner(" ") -%}{% for tag in ta -%}{{ space() }}{{ tag | slugify }}{% endfor -%}">
        <!-- header -->
        {% include "header.njk" %}

        <!-- content -->
        <main id="content">{{ content | safe }}</main>

        <!-- footer -->
        {% include "footer.njk" %}

        <!-- scripts -->

    </body>
</html>
