---js
const layout = 'tag';

const pagination = {
  data: 'collections',
  size: 1,
  alias: 'tag',
  addAllPagesToCollections: true,
  before: function (paginationData, fullData) {
    return paginationData.filter((collectionTag) => {
      if (collectionTag.startsWith('_')) return false;
      if (!Array.isArray(fullData.collections[collectionTag])) return false;
      return fullData.collections[collectionTag].some((item) => item.page.lang === fullData.lang);
    });
  }
};

const eleventyComputed = {
  slug: function(data) { return this.slugify(data.tag) },
  title: "{{ 'tags.tagged' | translate }} “{{ tag }}”",
  permalink: "{{ ('/' + lang + '/tag/' + (tag | slugify) + '/') | defaultlocaleurl }}",
  tags: function(data) { return ['tag', `tag-${this.slugify(data.tag)}`]; },
  seo: {
    changeFrequency: 'weekly',
    sitemapPriority: '0.3',
    description: "{{ 'tags.description' | translate }} “{{ tag }}“."
  }
};
---
