---
permalink: /humans.txt
eleventyExcludeFromCollections: true
seo:
  excludeFromSitemap: true
---
/* TEAM */
Designer / Developer: {{ _elva.author.name }}
Contact: {{ _elva.author.email }}
Site: {{ _elva.author.url }}
From: {{ _elva.author.location }}
{% if _elva.author.fediverseProfile %}Fediverse: {{ _elva.author.fediverseProfile }}{% endif %}

/* SITE */
Last update: {% build %}
Standards: HTML5, CSS3
Components: elva, Alpine.js
Software: 11ty
